<head>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<html>
<div style="font-family: 'Opens Sans', sans-serif;">
  {{{ body }}}
  {{> footer }}
</div>

</html>
